<div>
  <%= simple_form_for(obj) do |f| %>
    <%= f.input :name %>
    <%= f.input :species, collection: Pet::SPECIES %>
    <%= f.input :address %>
    <%= f.input :image, as: :file %>
    <%= f.submit %>
  <% end %>
</div>